@import url("theme.css");

.ui-panelgrid .ui-panelgrid-header {
    font-size: x-large;
    color: #654b24;
}

#loginButton {
    margin: 5px;
    padding: 4px 15px 4px 15px;
}

#loginButton:hover {
    background: #654b24;
    color: white;
}

.centerButton {
    text-align: center;
}

h2 {
    text-align: center;
}
