@import url("theme.css");
@import url("restaurantTemplate.css");

#restaurantImages {
    margin-left: 15%;
    margin-right: 15%;
}

.restaurantPanel {
    text-align: center;
}

.restaurantPanelGrid {
    width: 100%;
}

.foodsColumn {
    text-align: center;
    width: 33.33%;
}

.drinksColumn {
    text-align: center;
    width: 33.33%;
}

.reserveTableColumn {
    text-align: center;
    width: 33.33%;
}
