body {
    background-image: url("/hotel/resources/images/bg02.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

#restaurantImages {
    margin-left: 15%;
    margin-right: 15%;
}

.restaurantPanel {
    text-align: center;
}

.restaurantPanelGrid {
    width: 100%;
}

.foodsColumn {
    text-align: center;
    width: 33.33%;
}

.drinksColumn {
    text-align: center;
    width: 33.33%;
}

.reserveTableColumn {
    text-align: center;
    width: 33.33%;
}
