* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 0.9em;
}

header {
    margin: auto;
}

#menu {
    width: 100%;
    padding-bottom: 20px;
}

#menubar {
    width: 100%;
}

.logoutButtonText {
    display: block;
    padding: 4px 15px 4px 15px;
}

.logoutButton:hover {
    background: #654b24;
    color: white;
}

body {
    background-image: url("/hotel/resources/images/bg00.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    position: relative;
    min-height: 100%;
    padding-bottom: 52px;
    font-family: arial, verdana, tahoma;
}

h1 {
    text-align: center;
}

h6.welcome-text {
    font-size: 2.0em;
}

footer {
    max-height: 52px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 16px 0;
    text-align: center;
}

footer span {
    margin-right: 20px;
    font-size: x-small;
}
