* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

header {
    margin: auto;
}

#navigation {
    width: 100% !important;
    padding-bottom: 20px !important;
    z-index: 1000;
}

.menubar {
    width: 100% !important;
}

body {
    background-image: url("/hotel/resources/images/bg00.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-height: 100%;
    padding-bottom: 52px;
    font-family: arial, verdana, tahoma;
}

h1 {
    text-align: center;
}

h6.welcome-text {
    font-size: 2.0em;
}

footer {
    max-height: 52px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 16px 0;
    text-align: center;
}

footer span {
    margin-right: 20px;
}
